@media only screen and (max-width: 760px) {
  #content-right {
    margin-left:0;
    width:100%;
    display: block;
    position: relative;
    z-index: 0;
    min-height:none;
  }

  .affiche-box {
    padding:60px 40px 20px 40px;
  }

  .affiche-box img {
    width:100%
  }

  .txt-intro-box {
    text-align:center;
    padding: 0px 20px;
  }

  .txt-intro-box h1 {
    font-size:26px;
  }

  .txt-data-box {
    padding:60px 0px 0px
  }

  .wavers-box {
    padding:60px 0 0 0 
  }

  .txt-center-xs {
    text-align:center
  }

  .txt-justify-xs {
    text-align:justify
  }

  .affiche-box.cars {
    padding:60px 0 0 0
  }

  .txt-intro-box.prize {
    padding:0
  }

  .planning-box .data-img {
    height:auto;
    width:100%
  }
  .schools-box {
    padding:0
  }

  .parcours-txt-img {
    height: auto;
    width: 100%;
  }

  .txt-box-conditions {
    padding: 20px 10px;
    text-align: justify;
  }

  .mt-40px-xs {
    margin-top: 40px
  }

  .lh-20px-xs {
    line-height:20px
  }

  .coach-name {
    margin-top: 0
  }

  .w-60percent-xs {
    width:60%
  }

  .w-100percent-xs {
    width:100%
  }

  .questions-box {
    margin-top:0
  }

  .yellow-wavers {
    padding:0
  }

  .data-img-xs {
    margin-left:-20px
  }

  .img-video-box {
    padding:40px 0 0 0;
  }

  #inscription {
    margin-top:40px
  }
  .faq-questions-box {
    margin:40px 10px
  }
}


/* IPAD */

@media only screen and (min-width: 767px) and (max-width: 1000px) {


}

